params {
  publishDirMode = "symlink"
  resultsDir = "results"
  deployDir = "deploy/gv1trBymGubVBBrdHtGo6Of35E3uI9hw"
}

process {
  cpus = 1
}

timeline.enabled = true
timeline.file = "results/timeline.html"

report.enabled = true
report.file = "results/report.html"

resume = true

// Define executor profiles
profiles {
  // default: local executor with 8 cores
  standard {
    executor {
      cpus = 4
    }
  }

  sge {
    process {
      executor = 'sge'
      penv = 'smp'
      clusterOptions = { "-V -S /bin/bash " }
    }
  }
}

