params {
  publishDirMode = "link"
  resultsDir = "results"
  deployDir = "deploy"
}

process {
  cpus = 1
}

timeline.enabled = true
timeline.file = "results/timeline.html"

report.enabled = true
report.file = "results/report.html"

// I lost a lot of time by forgetting to set the resume flag. This makes it default. 
resume = true

// Define executor profiles
profiles {
  // default: local executor 
  standard {
    executor {
      cpus = 1
    }
  }
  // add your HPC configuration here...
}

